<ion-view view-title="Browse">
  <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <form >
      <div class="list">

        <div class="margenfix">
          <ion-md-input placeholder="Cantidad" ng-model="credito.cantidad" highlight-color="balanced" type="text"></ion-md-input>
        </div>

        <label class="item">
          <button  class="button button-block button-balanced" ng-click="altaCredito()">Confirmar alta</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
