<ion-view view-title="Jugar" style="background-image: url('img/ii.jpg')"> 
  <ion-content>
  <!-- http://embed.plnkr.co/3VUsekP3jC5xwSIQDVHx/preview -->
  <div class="margenjugar">
  <center>
    <form class="form-horizontal">
      
        <div class="form-group">
          <table ng-init="init()">
            <tr ng-repeat="row in matriz">
              <td ng-repeat="col in row"><button class="button button-positive" ng-class="{'button-balanced': col.value=='1'}" ng-click="this[metodoMatriz](col)">{{col.value}}</button></td>
            </tr>
            <!-- con el this[] voy cambiando el método dinamicámente -->
          </table>  
        </div>
        <h3> {{counter}} </h3>
        <button ng-if="contadorBarcosEstrategia == 4" class="button button-block button-balanced" ng-click="confirmarEstrategia()">CONFIRMAR ESTRATEGIA</button>

               
      </form>
  </center>
  </div>
  </ion-content>
</ion-view>
