<ion-view view-title="Login">
 <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-buttons side="right">
            </ion-nav-buttons>
        </ion-nav-bar>
    <ion-content style="background: url(img/aa.jpg) center; background-size: cover;">
    <form >
      <div ng-if='mostrarLogin' class="list">

        <div class="margenfix">
          <ion-md-input placeholder="Email" ng-model="loginData.email" highlight-color="balanced" type="text"></ion-md-input>
          <ion-md-input placeholder="Password" ng-model="loginData.password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <label class="item">
          <button  class="button button-block button-positive" ng-click="loguear()">Login</button>
        </label>

        <label class="item">
          <button  class="button button-block button-assertive" ui-sref="registro">Crear Usuario</button>
        </label>

      </div>

      <label ng-if="mostrarVerificar" class="item">
          <button  class="button button-block button-assertive" ng-click="verificarEmail()">Verificar email</button>
        </label>

      <div ng-if='mostrarLogOut' class="list">
        <label class="item">
          <button  class="button button-block button-positive" ng-click="desloguear()">Log out</button>
        </label>
      </div>

    </form>
  </ion-content>
</ion-view>
