<ion-view view-title="Browse">
<ion-content style="background: url(img/login.jpg) center; background-size: cover;">
   <div class="card">
   <div class="item item-avatar">
      <h2>ALTA CREDITOS</h2>
   </div>
   <div class="item item-body">
   <center>
      <img  src="img/QR.png">
   </center>
        <h2>Para cargar créditos active el lector de código QR presionando el boton y apunte con la cámara al código centrando la imagen lo más preciso posible </h2>
</div></div>
<center>
    <button class="button button-large button-positive" ng-click="scanear()">ACTIVAR LECTOR</button>
</center>
  </ion-content>
</ion-view>


