<ion-view view-title="Registro">
  <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-buttons side="right">
            </ion-nav-buttons>
        </ion-nav-bar>
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <form name="myForm">
      <div class="list">

        <div class="margenfix">
          <ion-md-input required maxlength="15"  placeholder="NickName" ng-model="loginData.nombre" highlight-color="balanced" type="text" ng-required="true"></ion-md-input>
          <ion-md-input placeholder="Email" ng-model="loginData.email" highlight-color="balanced" type="text" ng-required="true"></ion-md-input>
          <ion-md-input placeholder="Password" ng-model="loginData.password" highlight-color="energized" type="password" ng-required="true"></ion-md-input>
        </div>

        <label class="item" ng-if="myForm.$valid">
          <button  class="button button-block button-balanced" ng-click="registrarse()">Registrarse</button>
        </label>

        <label class="item" ng-if="myForm.$valid">
          <button  class="button button-block button-assertive" ui-sref="login">Cancelar</button>
        </label>

    </form>

  </ion-content>
</ion-view>
